<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Results Page</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body >
    <div class="container">
        <h1> Patient Records </h1>
        <table class="tg">
            <tr>
                <th class="tg-yw4l">Type</th>
                <th class="tg-yw4l">Description</th>
            </tr>
            <tr>
            <td class="tg-yw4l">Transaction ID</td>
            <td class="tg-yw4l">0x9041f8b49bbb126a470b7ba2d057308c36425d0b2d45cfbd4eded0dc55736ee0</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Name</td>
            <td class="tg-yw4l">Bob D. Smith</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Address</td>
            <td class="tg-yw4l"> 4800 Calhoun Houston, Texas 77004</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Phone Number</td>
            <td class="tg-yw4l">(436) 555-1957</td>
            </tr>
            <tr>
            <td class="tg-yw4l">E-mail</td>
            <td class="tg-yw4l">bob123@gmail.com</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Insurance Provider</td>
            <td class="tg-yw4l">Blue Cross Blue Shield</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Ethereum Address</td>
            <td class="tg-yw4l">0x43ac6d09283e6b126ba21c2a1f801853bfc06f15</td>
            </tr>
        </table>
    </div>
</body>
</html>