<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Results Page</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body >
    <div class="container">
        <table class="tg">
            <tr>
                <th class="tg-yw4l">Type</th>
                <th class="tg-yw4l">Description</th>
            </tr>
            <tr>
                    <td class="tg-yw4l">Transaction ID</td>
                    <td class="tg-yw4l">0x2b96810b7e74959822dedc537b2eff84d9a2b919b5549b1ad7f325765641d2db</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Drug Name</td>
            <td class="tg-yw4l">Synthroid</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Strength</td>
            <td class="tg-yw4l">25 mcg</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Quantity</td>
            <td class="tg-yw4l">Twice A Day</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Directions for use</td>
            <td class="tg-yw4l">Ingest orally.</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Number of Refills</td>
            <td class="tg-yw4l">One Refill</td>
            </tr>
            <tr>
            <td class="tg-yw4l">Price ($)</td>
            <td class="tg-yw4l">95</td>
            </tr>
            <tr>
                <td class="tg-yw4l">Ethereum Address</td>
                <td class="tg-yw4l">0x7a592b9242458ef7ed757a9c255fe43ce5be9977</td>
            </tr>
        </table>
    </div>
</body>
</html>